  .title {
    margin-left: 10px;
  }
  .head-title{
    color: black;
    font-weight: 500;
  }
  .spacer-little{
    margin-left: 10px;
  }
  .spacer{
    margin-left: 150px;
  }
  .mat-dialog-content {
    > div {
      display: flex;
      flex-direction: column;
    }
  }