<h1 class="title">Exportieren</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
  Wähle deine Exportoptionen aus:
  <form [formGroup]="exportOptionsForm">
    <div>
      <mat-checkbox formControlName="option1">Option 1</mat-checkbox>
      <mat-checkbox formControlName="option2">Option 2</mat-checkbox>
      <mat-checkbox formControlName="option3">Option 3</mat-checkbox>
    </div>
    <div>
      <mat-checkbox formControlName="option4">Option 4</mat-checkbox>
      <mat-checkbox formControlName="option5">Option 5</mat-checkbox>
      <mat-checkbox formControlName="option6">Option 6</mat-checkbox>
    </div>
    <div>
      <mat-checkbox formControlName="option4">Option 7</mat-checkbox>
      <mat-checkbox formControlName="option5">Option 8</mat-checkbox>
      <mat-checkbox formControlName="option6">Option 9</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onCancelClick()">Abbrechen</button>
  <button mat-raised-button color="primary" (click)="onExportClick()">Exportieren</button>
</div>
