<mat-card>
    <mat-card-header>
      <mat-card-title>Drosselklappenüberwachung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <p>Drosselklappenstellung: %</p>
      <p>Relative Drosselklappenstellung: %</p>
      <p>Befohlener Drosselklappensteller: %</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Motorüberwachung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <p>Motorlaufzeit: min</p>
        <p>Motordrehzahl: RPM</p>
        <p>Ladedruck: bar</p>
        <p>Motor-Kühltemperatur: °C</p>
        <p>Öltemperatur: °C</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Tanküberwachung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <p>Treibstoffart:</p>
        <p>Tankinhalt: Liter</p>
        <p>Treibstoffdruck: bar</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Ansaugung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <p>Ansauglufttemperatur: °C</p>
        <p>Ansaugkrümmerdruck: bar</p>
    </mat-card-content>
</mat-card>