mat-toolbar{

    .export {
        margin-right: 10px;
    }
    .icon{
        margin-right: 5px
    }
    
    .spacer {
        flex: 1 1 80%;
    }
    .spacer-medium{
        margin-left: 50px;
    }
    .spacer-small {
        margin-left: 20px;
    }
    .spacer-smallest{
        margin-left: 10px;
    }
  }