mat-toolbar{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .export {
        margin-right: 10px;
    }
    .icon{
        margin-right: 5px
    }
    
    .spacer {
        flex: 1 1 80%;
    }
    .spacer-medium{
        margin-left: 50px;
    }
    .spacer-small {
        margin-left: 20px;
    }
    .spacer-smallest{
        margin-left: 10px;
    }
  }