<ul>
    <li><input type="checkbox" id="vin"><label for="vin">Fahrzeugidentifikationsnummer (VIN)</label></li>
    <li><input type="checkbox" id="spannung"><label for="spannung">Spannung des Steuermoduls</label></li>
    <li><input type="checkbox" id="treibstoffdruck"><label for="treibstoffdruck">Treibstoffdruck</label></li>
    <li><input type="checkbox" id="öltemperatur"><label for="öltemperatur">Öltemperatur</label></li>
    <li><input type="checkbox" id="kühlmitteltemperatur"><label for="kühlmitteltemperatur">Motor-Kühlmitteltemperatur</label></li>
    <li><input type="checkbox" id="ansauglufttemperatur"><label for="ansauglufttemperatur">Ansauglufttemperatur</label></li>
    <li><input type="checkbox" id="ladedruck"><label for="ladedruck">Ladedruck</label></li>
    <li><input type="checkbox" id="ansaugkrümmerdruck"><label for="ansaugkrümmerdruck">Ansaugkrümmerdruck</label></li>
    <li><input type="checkbox" id="drosselklappenstellung"><label for="drosselklappenstellung">Drosselklappenstellung</label></li>
    <li><input type="checkbox" id="relative_drosselklappenstellung"><label for="relative_drosselklappenstellung">Relative Drosselklappenstellung</label></li>
    <li><input type="checkbox" id="befohlener_drosselklappensteller"><label for="befohlener_drosselklappensteller">Befohlener Drosselklappensteller</label></li>
</ul>
