<div class="content">
    <mat-card>
        <mat-card-header>
          <mat-card-title>Live Motordrehzahl</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Live Ladedruck</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Live Geschwindigkeit</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
</div>

<div class="info">
    <button mat-fab (click)="openInfoDialog()">
      <mat-icon>info
      </mat-icon>
    </button>
  </div>